body {
  @apply font-sans antialiased text-off-black bg-white;
}

/* Content Stylings */
.content > p {
  @apply mb-5;

  &:last-of-type {
    @apply mb-0;
  }
}

.content > p a {
  @apply underline;

  &:hover, &:focus {
    @apply underline;
  }
}

/* Heading Defaults */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, h6 {
  @apply p-0 mb-6;
}

.will-change {
  will-change: transform;
}

/* Content Headings */
.content > h1,
.content > .h1 {
  @apply text-4xl;
}
  
.content > h2,
.content > .h2 {
  @apply text-3xl;
}



.embla {
  position: relative;
  height: 100%;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.embla__viewport.is-draggable {
  cursor: move;
  cursor: grab;
}

.embla__viewport.is-dragging {
  cursor: grabbing;
}

.embla__container {
  display: flex;
  width: 100%;
  height: 100%;
  user-select: none;
  -webkit-touch-callout: none;
  -html-user-select: none;
  -webkit-tap-highlight-color: transparent;
  margin-left: -10px;
}

.embla__slide {
  position: relative;
  @apply block;
  min-width: 75%;
  padding-left: 1rem;
  height: 100%;

  @screen md {
    min-width: 30.5%;
    padding-left: 1.5rem;
  }

  @screen lg {
    min-width: 29.5%;
    padding-left: 1.5rem;
  }
  
  @screen xl {
    min-width: 21%;
  }

  @screen 2xl {
    min-width: 21%;
    padding-left: 2rem;
  }
}

.overflow-image {
  transform: scale(0.999)
}

.embla__slide__inner {
  position: relative;
  overflow: hidden;
  /* height: 100%; */
  /* max-height: 65vh; */
  
  @screen md {
    /* height: 100%; */
  }

  @media screen and (min-width: 800px) and (max-width: 1200px) { 
    /* height: 100%; */
  }
}

.embla__slide__img {
  /* position: absolute; */
  /* display: block; */
  /* top: 50%; */
  /* left: 50%; */
  /* width: auto; */
  /* min-height: 100%; */
  /* min-width: 100%; */
  /* max-width: none; */
  /* transform: translate(-50%, -50%); */
  @apply w-full h-auto relative block;
  @apply bg-gray-100;

  @apply object-cover object-center;

  & > div {
    @apply w-full h-full object-cover object-center;
  }
}

.embla__slide__img {
  @apply h-full;
}