/* Webfonts */
@import '_fonts.css';

/* Tailwind base/components */
@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Custom Styles */
@import '_typography.css';

/* Tailwind Utilities */
@import 'tailwindcss/utilities';

.slideshow {
	margin-left: 0px;
  @apply hover:outline-none focus:outline-none hover:border-none focus:border-none;

	@screen md {
		/* width: 200%;
		margin-left: -50%;
		margin-right: -50%; */
		/* margin-left: -5vw; */
	}

  @screen lg {
    /* margin-left: -10vw; */
  }
}
  
.slide {
	align-items: center;
  justify-content: center;
	width: 75vw;
  height: 62.5vh;
	margin-right: 1rem;
  margin-top: 18vh;

  @screen md {
    width: 35.5%;
    height: 65vh;
    margin-top: 16.5vh;
    margin-right: 1.5rem;
  }

  @screen lg {
    width: 28.5%;
    height: 65vh;
    margin-top: 16.5vh;
    margin-right: 1.5rem;
  }
  
  @screen xl {
    height: 65vh;
    width: 26.5%;
  }

  @screen 2xl {
    width: 22.5%;
    margin-right: 2rem;
  }

	.slide__img {
		transition: all ease 650ms;
		height: 100%;
		/* max-height: calc(68vh - 115px); */
	

		/* @media screen and (device-aspect-ratio: 40/71) {
			max-height: calc(57vh - 115px);
		}

		@media screen and (device-aspect-ratio: 375/667) {
			max-height: calc(66vh - 115px);
		}

		@media screen and (device-aspect-ratio: 16/9) {
			max-height: calc(64vh - 115px);
		}

		@media screen and (device-aspect-ratio: 3/4) {
			height: 100vh !important;
			max-height: calc(55vh - 115px) !important;
		} */
	}
}

.slide__img {
  /* position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  width: auto;
  min-height: 100%;
  min-width: 100%;
  max-width: none;
  transform: translate(-50%, -50%); */

  @apply object-cover object-center;

  & > div {
    @apply w-full h-full object-cover object-center;
  }
}